:root {
  --pantry-radius-0x: 2px;
  --pantry-radius-1x: 4px;
  --pantry-radius-2x: 8px;
  --pantry-radius-3x: 12px;
  --pantry-radius-4x: 16px;
  --pantry-radius-5x: 20px;
  --pantry-radius-6x: 24px;
  --pantry-radius-full: 9999px;
  --pantry-borderWidth-normal: 1px;
  --pantry-borderWidth-medium: 2px;
  --pantry-fontFamily-normal: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, emoji, 'Segoe UI Emoji', 'Segoe UI Symbol';
  --pantry-fontSize-xs: 0.7143rem;
  --pantry-fontSize-sm: 0.8571rem;
  --pantry-fontSize-md: 1.0000rem;
  --pantry-fontSize-lg: 1.1429rem;
  --pantry-fontSize-xl: 1.4286rem;
  --pantry-fontSize-2xl: 1.7143rem;
  --pantry-fontSize-3xl: 2.2857rem;
  --pantry-fontSize-4xl: 2.8571rem;
  --pantry-fontWeight-normal: 400;
  --pantry-fontWeight-medium: 500;
  --pantry-fontWeight-semibold: 600;
  --pantry-fontWeight-bold: 700;
  --pantry-letterSpacing-normal: -0.2px;
  --pantry-line-height-md: 1.4286;
  --pantry-line-height-normal: 1.5;
  --pantry-form-input-height: 40px;
  --pantry-spacing-0x: 2px;
  --pantry-spacing-1x: 4px;
  --pantry-spacing-2x: 8px;
  --pantry-spacing-3x: 12px;
  --pantry-spacing-4x: 16px;
  --pantry-spacing-5x: 20px;
  --pantry-spacing-6x: 24px;
  --pantry-spacing-7x: 28px;
  --pantry-spacing-8x: 32px;
  --pantry-spacing-9x: 36px;
  --pantry-spacing-10x: 40px;
  --pantry-negative-spacing-0x: -2px;
  --pantry-negative-spacing-1x: -4px;
  --pantry-negative-spacing-2x: -8px;
  --pantry-negative-spacing-3x: -12px;
  --pantry-negative-spacing-4x: -16px;
  --pantry-negative-spacing-5x: -20px;
  --pantry-negative-spacing-6x: -24px;
  --pantry-negative-spacing-7x: -28px;
  --pantry-negative-spacing-8x: -32px;
  --pantry-negative-spacing-9x: -36px;
  --pantry-negative-spacing-10x: -40px;
  --pantry-transitionDuration-normal: 100ms;
  --pantry-transitionTimingFunction-normal: ease-out;
  --pantry-elevation-1: 0 1px 4px 0 rgba(30,36,41, 0.24);
  --pantry-elevation-2: 0 4px 12px 0 rgba(30,36,41, 0.16);
  --pantry-elevation-3: 0 12px 20px 4px rgba(30,36,41, 0.12);
  --pantry-elevation-4: 0 20px 24px 8px rgba(30,36,41, 0.08);
  --pantry-button-primary-focused-background: #0067DB;
  --pantry-button-inverse-disabled-text: #364149;
  --pantry-button-ai-background: linear-gradient(50deg, #1887FC 0%, #31D6AD 100%);
  --pantry-button-ai-hover-background: linear-gradient(50deg, #0067DB 0%, #0DBF98 100%);
  --pantry-button-aiSecondary-icon-left-color: #1887FC;
  --pantry-button-aiSecondary-icon-left-hover-color: #0067DB;
  --pantry-button-aiSecondary-icon-right-color: #31D6AD;
  --pantry-button-aiSecondary-icon-right-hover-color: #0DBF98;
  --pantry-checkbox-checked-border: #FFFFFF;
  --pantry-chip-aiPrimary-background: linear-gradient(50deg, #E7F3FE 0%, #ECFDF7 100%);
  --pantry-chip-aiPrimary-hover-background: linear-gradient(50deg, #C4E2FF 0%, #D0FBEA 100%);
  --pantry-color-background-primary: #FFFFFF;
  --pantry-color-background-primary-hover: #F9FAFB;
  --pantry-color-background-primary-selected: #E7F3FE;
  --pantry-color-background-inverted-primary: #293238;
  --pantry-color-background-inverted-primary-hover: #364149;
  --pantry-color-background-primary-accent: #F7FBFF;
  --pantry-color-background-primary-accent-hover: #E7F3FE;
  --pantry-color-background-primary-accent-selected: #C4E2FF;
  --pantry-color-background-secondary: #F9FAFB;
  --pantry-color-background-secondary-hover: #EDF0F2;
  --pantry-color-background-inverted-secondary: #364149;
  --pantry-color-background-inverted-secondary-hover: #4D5A66;
  --pantry-color-background-accent: #1887FC;
  --pantry-color-background-accent-hover: #61AEFF;
  --pantry-color-background-accent-highlight: #E7F3FE;
  --pantry-color-background-accent-danger: #EC4146;
  --pantry-color-background-accent-danger-hover: #B71E22;
  --pantry-color-background-disabled: #DADFE3;
  --pantry-color-background-disabled-light: #EDF0F2;
  --pantry-color-background-feedback-positive: #ECFDF7;
  --pantry-color-background-feedback-positive-hover: #D0FBEA;
  --pantry-color-background-feedback-positive-bold: #027A65;
  --pantry-color-background-feedback-positive-bold-hover: #046151;
  --pantry-color-background-feedback-warning: #FEF9EC;
  --pantry-color-background-feedback-warning-hover: #FCECC9;
  --pantry-color-background-feedback-warning-bold: #AF420E;
  --pantry-color-background-feedback-warning-bold-hover: #8E3312;
  --pantry-color-background-feedback-negative: #FEF2F2;
  --pantry-color-background-feedback-negative-hover: #FEE2E3;
  --pantry-color-background-feedback-negative-bold: #B71E22;
  --pantry-color-background-feedback-negative-bold-hover: #971D21;
  --pantry-color-background-feedback-informative: #E7F3FE;
  --pantry-color-background-feedback-informative-hover: #C4E2FF;
  --pantry-color-background-feedback-upgrade: #EBEBFF;
  --pantry-color-background-expressive-aqua: #E0F9FF;
  --pantry-color-background-expressive-blue: #E7F3FE;
  --pantry-color-background-expressive-grape: #EBEBFF;
  --pantry-color-background-expressive-fuchsia: #FCEBFF;
  --pantry-color-background-expressive-magenta: #FFEBF1;
  --pantry-color-background-expressive-orange: #FFEEE3;
  --pantry-color-background-expressive-yellow: #FFF5D4;
  --pantry-color-background-expressive-lime: #F4F7DC;
  --pantry-color-icon-primary: #1E2429;
  --pantry-color-icon-primary-hover: #293238;
  --pantry-color-icon-inverted-primary: #F9FAFB;
  --pantry-color-icon-inverted-primary-hover: #EDF0F2;
  --pantry-color-icon-secondary: #677888;
  --pantry-color-icon-secondary-hover: #4D5A66;
  --pantry-color-icon-inverted-secondary: #B5C0C9;
  --pantry-color-icon-inverted-secondary-hover: #DADFE3;
  --pantry-color-icon-accent: #1887FC;
  --pantry-color-icon-accent-hover: #61AEFF;
  --pantry-color-icon-accent-danger: #EC4146;
  --pantry-color-icon-accent-danger-hover: #B71E22;
  --pantry-color-icon-on-accent: #FFFFFF;
  --pantry-color-icon-disabled: #8594A3;
  --pantry-color-icon-feedback-positive: #027A65;
  --pantry-color-icon-feedback-positive-hover: #046151;
  --pantry-color-icon-feedback-warning: #EE8312;
  --pantry-color-icon-feedback-warning-hover: #AF420E;
  --pantry-color-icon-feedback-negative: #EC4146;
  --pantry-color-icon-feedback-negative-hover: #B71E22;
  --pantry-color-icon-feedback-informative: #1887FC;
  --pantry-color-icon-feedback-upgrade: #5553C2;
  --pantry-color-icon-expressive-aqua: #08728C;
  --pantry-color-icon-expressive-blue: #1887FC;
  --pantry-color-icon-expressive-grape: #36348A;
  --pantry-color-icon-expressive-fuchsia: #9738A8;
  --pantry-color-icon-expressive-magenta: #C92A5A;
  --pantry-color-icon-expressive-orange: #DB5B06;
  --pantry-color-icon-expressive-yellow: #BAA100;
  --pantry-color-icon-expressive-lime: #7D8F0A;
  --pantry-color-stroke-default: #DADFE3;
  --pantry-color-stroke-default-hover: #B5C0C9;
  --pantry-color-stroke-accent: #1887FC;
  --pantry-color-stroke-accent-hover: #61AEFF;
  --pantry-color-stroke-accent-danger: #EC4146;
  --pantry-color-stroke-accent-danger-hover: #B71E22;
  --pantry-color-stroke-inverted: #4D5A66;
  --pantry-color-stroke-inverted-hover: #677888;
  --pantry-color-stroke-feedback-positive: #0DBF98;
  --pantry-color-stroke-feedback-positive-hover: #027A65;
  --pantry-color-stroke-feedback-warning: #EE8312;
  --pantry-color-stroke-feedback-warning-hover: #AF420E;
  --pantry-color-stroke-feedback-negative: #EC4146;
  --pantry-color-stroke-feedback-negative-hover: #B71E22;
  --pantry-color-stroke-feedback-informative: #1887FC;
  --pantry-color-stroke-expressive-aqua: #AFEBFA;
  --pantry-color-stroke-expressive-blue: #94C9FF;
  --pantry-color-stroke-expressive-grape: #CDCDF7;
  --pantry-color-stroke-expressive-fuchsia: #F1CBF7;
  --pantry-color-stroke-expressive-magenta: #FAC3D4;
  --pantry-color-stroke-expressive-orange: #FFC8A3;
  --pantry-color-stroke-expressive-yellow: #FFF0A3;
  --pantry-color-stroke-expressive-lime: #E5F09E;
  --pantry-color-text-primary: #1E2429;
  --pantry-color-text-inverted-primary: #FFFFFF;
  --pantry-color-text-primary-forced: #1E2429;
  --pantry-color-text-secondary: #4D5A66;
  --pantry-color-text-inverted-secondary: #EDF0F2;
  --pantry-color-text-accent: #1887FC;
  --pantry-color-text-accent-hover: #61AEFF;
  --pantry-color-text-accent-danger: #EC4146;
  --pantry-color-text-accent-danger-hover: #B71E22;
  --pantry-color-text-on-accent: #FFFFFF;
  --pantry-color-text-disabled: #8594A3;
  --pantry-color-text-placeholder: #B5C0C9;
  --pantry-color-text-feedback-positive: #027A65;
  --pantry-color-text-feedback-positive-hover: #046151;
  --pantry-color-text-feedback-warning: #AF420E;
  --pantry-color-text-feedback-warning-hover: #8E3312;
  --pantry-color-text-feedback-negative: #EC4146;
  --pantry-color-text-feedback-negative-hover: #971D21;
  --pantry-color-text-feedback-informative: #004FA8;
  --pantry-color-text-ai: linear-gradient(50deg, #1887FC 0%, #31D6AD 100%);
  --pantry-modal-backdrop: rgba(30,36,41, 0.5);
  --pantry-selection-background: #1887FC;
  --pantry-selection-text: #FFFFFF;
  --pantry-tag-neutral-background: #EDF0F2;
  --pantry-tag-neutral-border: #B5C0C9;
  --pantry-toggle-off-background: #677888;
  --pantry-toggle-on-background: #1887FC;
  --pantry-toggle-on-icon: #FFFFFF;
}
:root[data-theme="dark"] {
  --pantry-radius-0x: 2px;
  --pantry-radius-1x: 4px;
  --pantry-radius-2x: 8px;
  --pantry-radius-3x: 12px;
  --pantry-radius-4x: 16px;
  --pantry-radius-5x: 20px;
  --pantry-radius-6x: 24px;
  --pantry-radius-full: 9999px;
  --pantry-borderWidth-normal: 1px;
  --pantry-borderWidth-medium: 2px;
  --pantry-fontFamily-normal: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, emoji, 'Segoe UI Emoji', 'Segoe UI Symbol';
  --pantry-fontSize-xs: 0.7143rem;
  --pantry-fontSize-sm: 0.8571rem;
  --pantry-fontSize-md: 1.0000rem;
  --pantry-fontSize-lg: 1.1429rem;
  --pantry-fontSize-xl: 1.4286rem;
  --pantry-fontSize-2xl: 1.7143rem;
  --pantry-fontSize-3xl: 2.2857rem;
  --pantry-fontSize-4xl: 2.8571rem;
  --pantry-fontWeight-normal: 400;
  --pantry-fontWeight-medium: 500;
  --pantry-fontWeight-semibold: 600;
  --pantry-fontWeight-bold: 700;
  --pantry-letterSpacing-normal: -0.2px;
  --pantry-line-height-md: 1.4286;
  --pantry-line-height-normal: 1.5;
  --pantry-form-input-height: 40px;
  --pantry-spacing-0x: 2px;
  --pantry-spacing-1x: 4px;
  --pantry-spacing-2x: 8px;
  --pantry-spacing-3x: 12px;
  --pantry-spacing-4x: 16px;
  --pantry-spacing-5x: 20px;
  --pantry-spacing-6x: 24px;
  --pantry-spacing-7x: 28px;
  --pantry-spacing-8x: 32px;
  --pantry-spacing-9x: 36px;
  --pantry-spacing-10x: 40px;
  --pantry-negative-spacing-0x: -2px;
  --pantry-negative-spacing-1x: -4px;
  --pantry-negative-spacing-2x: -8px;
  --pantry-negative-spacing-3x: -12px;
  --pantry-negative-spacing-4x: -16px;
  --pantry-negative-spacing-5x: -20px;
  --pantry-negative-spacing-6x: -24px;
  --pantry-negative-spacing-7x: -28px;
  --pantry-negative-spacing-8x: -32px;
  --pantry-negative-spacing-9x: -36px;
  --pantry-negative-spacing-10x: -40px;
  --pantry-transitionDuration-normal: 100ms;
  --pantry-transitionTimingFunction-normal: ease-out;
  --pantry-elevation-1: 0 1px 4px 0 rgba(30,36,41, 0.24);
  --pantry-elevation-2: 0 4px 12px 0 rgba(30,36,41, 0.16);
  --pantry-elevation-3: 0 12px 20px 4px rgba(30,36,41, 0.12);
  --pantry-elevation-4: 0 20px 24px 8px rgba(30,36,41, 0.08);
  --pantry-button-primary-focused-background: #0067DB;
  --pantry-button-inverse-disabled-text: #1E2429;
  --pantry-button-ai-background: linear-gradient(50deg, #1887FC 0%, #31D6AD 100%);
  --pantry-button-ai-hover-background: linear-gradient(50deg, #0067DB 0%, #0DBF98 100%);
  --pantry-button-aiSecondary-icon-left-color: #1887FC;
  --pantry-button-aiSecondary-icon-left-hover-color: #0067DB;
  --pantry-button-aiSecondary-icon-right-color: #31D6AD;
  --pantry-button-aiSecondary-icon-right-hover-color: #0DBF98;
  --pantry-checkbox-checked-border: #1E2429;
  --pantry-chip-aiPrimary-background: linear-gradient(50deg, #E7F3FE 0%, #ECFDF7 100%);
  --pantry-chip-aiPrimary-hover-background: linear-gradient(50deg, #C4E2FF 0%, #D0FBEA 100%);
  --pantry-color-background-primary: #1E2429;
  --pantry-color-background-primary-hover: #293238;
  --pantry-color-background-primary-selected: #003775;
  --pantry-color-background-inverted-primary: #FFFFFF;
  --pantry-color-background-inverted-primary-hover: #F9FAFB;
  --pantry-color-background-primary-accent: #1E2429;
  --pantry-color-background-primary-accent-hover: #293238;
  --pantry-color-background-primary-accent-selected: #004FA8;
  --pantry-color-background-secondary: #293238;
  --pantry-color-background-secondary-hover: #364149;
  --pantry-color-background-inverted-secondary: #F9FAFB;
  --pantry-color-background-inverted-secondary-hover: #EDF0F2;
  --pantry-color-background-accent: #1887FC;
  --pantry-color-background-accent-hover: #61AEFF;
  --pantry-color-background-accent-highlight: #004FA8;
  --pantry-color-background-accent-danger: #EC4146;
  --pantry-color-background-accent-danger-hover: #B71E22;
  --pantry-color-background-disabled: #4D5A66;
  --pantry-color-background-disabled-light: #364149;
  --pantry-color-background-feedback-positive: #054F44;
  --pantry-color-background-feedback-positive-hover: #046151;
  --pantry-color-background-feedback-positive-bold: #A6F4D9;
  --pantry-color-background-feedback-positive-bold-hover: #D0FBEA;
  --pantry-color-background-feedback-warning: #752B12;
  --pantry-color-background-feedback-warning-hover: #8E3312;
  --pantry-color-background-feedback-warning-bold: #F9D88E;
  --pantry-color-background-feedback-warning-bold-hover: #FCECC9;
  --pantry-color-background-feedback-negative: #7D1013;
  --pantry-color-background-feedback-negative-hover: #971D21;
  --pantry-color-background-feedback-negative-bold: #FBA6A8;
  --pantry-color-background-feedback-negative-bold-hover: #FEE2E3;
  --pantry-color-background-feedback-informative: #001E40;
  --pantry-color-background-feedback-informative-hover: #003775;
  --pantry-color-background-feedback-upgrade: #36348A;
  --pantry-color-background-expressive-aqua: #08728C;
  --pantry-color-background-expressive-blue: #004FA8;
  --pantry-color-background-expressive-grape: #36348A;
  --pantry-color-background-expressive-fuchsia: #9738A8;
  --pantry-color-background-expressive-magenta: #C92A5A;
  --pantry-color-background-expressive-orange: #DB5B06;
  --pantry-color-background-expressive-yellow: #BAA100;
  --pantry-color-background-expressive-lime: #7D8F0A;
  --pantry-color-icon-primary: #F9FAFB;
  --pantry-color-icon-primary-hover: #EDF0F2;
  --pantry-color-icon-inverted-primary: #1E2429;
  --pantry-color-icon-inverted-primary-hover: #293238;
  --pantry-color-icon-secondary: #B5C0C9;
  --pantry-color-icon-secondary-hover: #DADFE3;
  --pantry-color-icon-inverted-secondary: #677888;
  --pantry-color-icon-inverted-secondary-hover: #4D5A66;
  --pantry-color-icon-accent: #1887FC;
  --pantry-color-icon-accent-hover: #61AEFF;
  --pantry-color-icon-accent-danger: #FEE2E3;
  --pantry-color-icon-accent-danger-hover: #FE8D8D;
  --pantry-color-icon-on-accent: #FFFFFF;
  --pantry-color-icon-disabled: #8594A3;
  --pantry-color-icon-feedback-positive: #D0FBEA;
  --pantry-color-icon-feedback-positive-hover: #ECFDF7;
  --pantry-color-icon-feedback-warning: #F6B946;
  --pantry-color-icon-feedback-warning-hover: #FCECC9;
  --pantry-color-icon-feedback-negative: #FE8D8D;
  --pantry-color-icon-feedback-negative-hover: #FEE2E3;
  --pantry-color-icon-feedback-informative: #1887FC;
  --pantry-color-icon-feedback-upgrade: #CDCDF7;
  --pantry-color-icon-expressive-aqua: #E0F9FF;
  --pantry-color-icon-expressive-blue: #E7F3FE;
  --pantry-color-icon-expressive-grape: #EBEBFF;
  --pantry-color-icon-expressive-fuchsia: #FCEBFF;
  --pantry-color-icon-expressive-magenta: #FFEBF1;
  --pantry-color-icon-expressive-orange: #FFEEE3;
  --pantry-color-icon-expressive-yellow: #FFF5D4;
  --pantry-color-icon-expressive-lime: #F4F7DC;
  --pantry-color-stroke-default: #4D5A66;
  --pantry-color-stroke-default-hover: #677888;
  --pantry-color-stroke-accent: #1887FC;
  --pantry-color-stroke-accent-hover: #61AEFF;
  --pantry-color-stroke-accent-danger: #FEE2E3;
  --pantry-color-stroke-accent-danger-hover: #FE8D8D;
  --pantry-color-stroke-inverted: #DADFE3;
  --pantry-color-stroke-inverted-hover: #B5C0C9;
  --pantry-color-stroke-feedback-positive: #6CE9C5;
  --pantry-color-stroke-feedback-positive-hover: #D0FBEA;
  --pantry-color-stroke-feedback-warning: #F6B946;
  --pantry-color-stroke-feedback-warning-hover: #FCECC9;
  --pantry-color-stroke-feedback-negative: #FE8D8D;
  --pantry-color-stroke-feedback-negative-hover: #FEE2E3;
  --pantry-color-stroke-feedback-informative: #004FA8;
  --pantry-color-stroke-expressive-aqua: #25A8CC;
  --pantry-color-stroke-expressive-blue: #1887FC;
  --pantry-color-stroke-expressive-grape: #5553C2;
  --pantry-color-stroke-expressive-fuchsia: #CF66E3;
  --pantry-color-stroke-expressive-magenta: #F65384;
  --pantry-color-stroke-expressive-orange: #F77E2D;
  --pantry-color-stroke-expressive-yellow: #EBD023;
  --pantry-color-stroke-expressive-lime: #B6CF17;
  --pantry-color-text-primary: #FFFFFF;
  --pantry-color-text-inverted-primary: #1E2429;
  --pantry-color-text-primary-forced: #1E2429;
  --pantry-color-text-secondary: #DADFE3;
  --pantry-color-text-inverted-secondary: #677888;
  --pantry-color-text-accent: #61AEFF;
  --pantry-color-text-accent-hover: #94C9FF;
  --pantry-color-text-accent-danger: #FEE2E3;
  --pantry-color-text-accent-danger-hover: #FE8D8D;
  --pantry-color-text-on-accent: #FFFFFF;
  --pantry-color-text-disabled: #8594A3;
  --pantry-color-text-placeholder: #B5C0C9;
  --pantry-color-text-feedback-positive: #D0FBEA;
  --pantry-color-text-feedback-positive-hover: #ECFDF7;
  --pantry-color-text-feedback-warning: #FCECC9;
  --pantry-color-text-feedback-warning-hover: #FEF9EC;
  --pantry-color-text-feedback-negative: #FE8D8D;
  --pantry-color-text-feedback-negative-hover: #FEF2F2;
  --pantry-color-text-feedback-informative: #C4E2FF;
  --pantry-color-text-ai: linear-gradient(50deg, #1887FC 0%, #31D6AD 100%);
  --pantry-modal-backdrop: rgba(0, 0, 0, 0.75);
  --pantry-selection-background: #1887FC;
  --pantry-selection-text: #FFFFFF;
  --pantry-tag-neutral-background: #293238;
  --pantry-tag-neutral-border: #4D5A66;
  --pantry-toggle-off-background: #B5C0C9;
  --pantry-toggle-on-background: #1887FC;
  --pantry-toggle-on-icon: #FFFFFF;
}
:root[data-theme="light-enhanced-contrast"] {
  --pantry-radius-0x: 2px;
  --pantry-radius-1x: 4px;
  --pantry-radius-2x: 8px;
  --pantry-radius-3x: 12px;
  --pantry-radius-4x: 16px;
  --pantry-radius-5x: 20px;
  --pantry-radius-6x: 24px;
  --pantry-radius-full: 9999px;
  --pantry-borderWidth-normal: 1px;
  --pantry-borderWidth-medium: 2px;
  --pantry-fontFamily-normal: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, emoji, 'Segoe UI Emoji', 'Segoe UI Symbol';
  --pantry-fontSize-xs: 0.7143rem;
  --pantry-fontSize-sm: 0.8571rem;
  --pantry-fontSize-md: 1.0000rem;
  --pantry-fontSize-lg: 1.1429rem;
  --pantry-fontSize-xl: 1.4286rem;
  --pantry-fontSize-2xl: 1.7143rem;
  --pantry-fontSize-3xl: 2.2857rem;
  --pantry-fontSize-4xl: 2.8571rem;
  --pantry-fontWeight-normal: 400;
  --pantry-fontWeight-medium: 500;
  --pantry-fontWeight-semibold: 600;
  --pantry-fontWeight-bold: 700;
  --pantry-letterSpacing-normal: -0.2px;
  --pantry-line-height-md: 1.4286;
  --pantry-line-height-normal: 1.5;
  --pantry-form-input-height: 40px;
  --pantry-spacing-0x: 2px;
  --pantry-spacing-1x: 4px;
  --pantry-spacing-2x: 8px;
  --pantry-spacing-3x: 12px;
  --pantry-spacing-4x: 16px;
  --pantry-spacing-5x: 20px;
  --pantry-spacing-6x: 24px;
  --pantry-spacing-7x: 28px;
  --pantry-spacing-8x: 32px;
  --pantry-spacing-9x: 36px;
  --pantry-spacing-10x: 40px;
  --pantry-negative-spacing-0x: -2px;
  --pantry-negative-spacing-1x: -4px;
  --pantry-negative-spacing-2x: -8px;
  --pantry-negative-spacing-3x: -12px;
  --pantry-negative-spacing-4x: -16px;
  --pantry-negative-spacing-5x: -20px;
  --pantry-negative-spacing-6x: -24px;
  --pantry-negative-spacing-7x: -28px;
  --pantry-negative-spacing-8x: -32px;
  --pantry-negative-spacing-9x: -36px;
  --pantry-negative-spacing-10x: -40px;
  --pantry-transitionDuration-normal: 100ms;
  --pantry-transitionTimingFunction-normal: ease-out;
  --pantry-elevation-1: 0 1px 4px 0 rgba(30,36,41, 0.24);
  --pantry-elevation-2: 0 4px 12px 0 rgba(30,36,41, 0.16);
  --pantry-elevation-3: 0 12px 20px 4px rgba(30,36,41, 0.12);
  --pantry-elevation-4: 0 20px 24px 8px rgba(30,36,41, 0.08);
  --pantry-button-primary-focused-background: #0067DB;
  --pantry-button-inverse-disabled-text: #B5C0C9;
  --pantry-button-ai-background: linear-gradient(50deg, #0067DB 0%, #02997B 100%);
  --pantry-button-ai-hover-background: linear-gradient(50deg, #004FA8 0%, #027A65 100%);
  --pantry-button-aiSecondary-icon-left-color: #0067DB;
  --pantry-button-aiSecondary-icon-left-hover-color: #004FA8;
  --pantry-button-aiSecondary-icon-right-color: #027A65;
  --pantry-button-aiSecondary-icon-right-hover-color: #046151;
  --pantry-checkbox-checked-border: #FFFFFF;
  --pantry-chip-aiPrimary-background: linear-gradient(50deg, #E7F3FE 0%, #ECFDF7 100%);
  --pantry-chip-aiPrimary-hover-background: linear-gradient(50deg, #C4E2FF 0%, #D0FBEA 100%);
  --pantry-color-background-primary: #FFFFFF;
  --pantry-color-background-primary-hover: #F9FAFB;
  --pantry-color-background-primary-selected: #E7F3FE;
  --pantry-color-background-inverted-primary: #293238;
  --pantry-color-background-inverted-primary-hover: #364149;
  --pantry-color-background-primary-accent: #F7FBFF;
  --pantry-color-background-primary-accent-hover: #E7F3FE;
  --pantry-color-background-primary-accent-selected: #C4E2FF;
  --pantry-color-background-secondary: #F9FAFB;
  --pantry-color-background-secondary-hover: #EDF0F2;
  --pantry-color-background-inverted-secondary: #364149;
  --pantry-color-background-inverted-secondary-hover: #4D5A66;
  --pantry-color-background-accent: #003775;
  --pantry-color-background-accent-hover: #004FA8;
  --pantry-color-background-accent-highlight: #E7F3FE;
  --pantry-color-background-accent-danger: #971D21;
  --pantry-color-background-accent-danger-hover: #7D1013;
  --pantry-color-background-disabled: #EDF0F2;
  --pantry-color-background-disabled-light: #F9FAFB;
  --pantry-color-background-feedback-positive: #ECFDF7;
  --pantry-color-background-feedback-positive-hover: #D0FBEA;
  --pantry-color-background-feedback-positive-bold: #027A65;
  --pantry-color-background-feedback-positive-bold-hover: #046151;
  --pantry-color-background-feedback-warning: #FEF9EC;
  --pantry-color-background-feedback-warning-hover: #FCECC9;
  --pantry-color-background-feedback-warning-bold: #AF420E;
  --pantry-color-background-feedback-warning-bold-hover: #8E3312;
  --pantry-color-background-feedback-negative: #FEF2F2;
  --pantry-color-background-feedback-negative-hover: #FEE2E3;
  --pantry-color-background-feedback-negative-bold: #B71E22;
  --pantry-color-background-feedback-negative-bold-hover: #971D21;
  --pantry-color-background-feedback-informative: #E7F3FE;
  --pantry-color-background-feedback-informative-hover: #C4E2FF;
  --pantry-color-background-feedback-upgrade: #EBEBFF;
  --pantry-color-background-expressive-aqua: #E0F9FF;
  --pantry-color-background-expressive-blue: #E7F3FE;
  --pantry-color-background-expressive-grape: #EBEBFF;
  --pantry-color-background-expressive-fuchsia: #FCEBFF;
  --pantry-color-background-expressive-magenta: #FFEBF1;
  --pantry-color-background-expressive-orange: #FFEEE3;
  --pantry-color-background-expressive-yellow: #FFF5D4;
  --pantry-color-background-expressive-lime: #F4F7DC;
  --pantry-color-icon-primary: #1E2429;
  --pantry-color-icon-primary-hover: #293238;
  --pantry-color-icon-inverted-primary: #F9FAFB;
  --pantry-color-icon-inverted-primary-hover: #EDF0F2;
  --pantry-color-icon-secondary: #293238;
  --pantry-color-icon-secondary-hover: #364149;
  --pantry-color-icon-inverted-secondary: #DADFE3;
  --pantry-color-icon-inverted-secondary-hover: #EDF0F2;
  --pantry-color-icon-accent: #003775;
  --pantry-color-icon-accent-hover: #004FA8;
  --pantry-color-icon-accent-danger: #971D21;
  --pantry-color-icon-accent-danger-hover: #7D1013;
  --pantry-color-icon-on-accent: #FFFFFF;
  --pantry-color-icon-disabled: #293238;
  --pantry-color-icon-feedback-positive: #046151;
  --pantry-color-icon-feedback-positive-hover: #054F44;
  --pantry-color-icon-feedback-warning: #8E3312;
  --pantry-color-icon-feedback-warning-hover: #752B12;
  --pantry-color-icon-feedback-negative: #971D21;
  --pantry-color-icon-feedback-negative-hover: #7D1013;
  --pantry-color-icon-feedback-informative: #003775;
  --pantry-color-icon-feedback-upgrade: #36348A;
  --pantry-color-icon-expressive-aqua: #08728C;
  --pantry-color-icon-expressive-blue: #004FA8;
  --pantry-color-icon-expressive-grape: #36348A;
  --pantry-color-icon-expressive-fuchsia: #9738A8;
  --pantry-color-icon-expressive-magenta: #C92A5A;
  --pantry-color-icon-expressive-orange: #DB5B06;
  --pantry-color-icon-expressive-yellow: #AF420E;
  --pantry-color-icon-expressive-lime: #7D8F0A;
  --pantry-color-stroke-default: #8594A3;
  --pantry-color-stroke-default-hover: #677888;
  --pantry-color-stroke-accent: #003775;
  --pantry-color-stroke-accent-hover: #004FA8;
  --pantry-color-stroke-accent-danger: #971D21;
  --pantry-color-stroke-accent-danger-hover: #7D1013;
  --pantry-color-stroke-inverted: #293238;
  --pantry-color-stroke-inverted-hover: #364149;
  --pantry-color-stroke-feedback-positive: #046151;
  --pantry-color-stroke-feedback-positive-hover: #054F44;
  --pantry-color-stroke-feedback-warning: #8E3312;
  --pantry-color-stroke-feedback-warning-hover: #752B12;
  --pantry-color-stroke-feedback-negative: #971D21;
  --pantry-color-stroke-feedback-negative-hover: #7D1013;
  --pantry-color-stroke-feedback-informative: #003775;
  --pantry-color-stroke-expressive-aqua: #08728C;
  --pantry-color-stroke-expressive-blue: #004FA8;
  --pantry-color-stroke-expressive-grape: #36348A;
  --pantry-color-stroke-expressive-fuchsia: #9738A8;
  --pantry-color-stroke-expressive-magenta: #C92A5A;
  --pantry-color-stroke-expressive-orange: #DB5B06;
  --pantry-color-stroke-expressive-yellow: #BAA100;
  --pantry-color-stroke-expressive-lime: #7D8F0A;
  --pantry-color-text-primary: #1E2429;
  --pantry-color-text-inverted-primary: #FFFFFF;
  --pantry-color-text-primary-forced: #1E2429;
  --pantry-color-text-secondary: #364149;
  --pantry-color-text-inverted-secondary: #EDF0F2;
  --pantry-color-text-accent: #003775;
  --pantry-color-text-accent-hover: #004FA8;
  --pantry-color-text-accent-danger: #971D21;
  --pantry-color-text-accent-danger-hover: #7D1013;
  --pantry-color-text-on-accent: #FFFFFF;
  --pantry-color-text-disabled: #293238;
  --pantry-color-text-placeholder: #364149;
  --pantry-color-text-feedback-positive: #046151;
  --pantry-color-text-feedback-positive-hover: #054F44;
  --pantry-color-text-feedback-warning: #8E3312;
  --pantry-color-text-feedback-warning-hover: #752B12;
  --pantry-color-text-feedback-negative: #971D21;
  --pantry-color-text-feedback-negative-hover: #7D1013;
  --pantry-color-text-feedback-informative: #003775;
  --pantry-color-text-ai: linear-gradient(50deg, #004FA8 0%, #027A65 100%);
  --pantry-modal-backdrop: rgba(30,36,41, 0.5);
  --pantry-selection-background: #1887FC;
  --pantry-selection-text: #FFFFFF;
  --pantry-tag-neutral-background: #EDF0F2;
  --pantry-tag-neutral-border: #8594A3;
  --pantry-toggle-off-background: #293238;
  --pantry-toggle-on-background: #003775;
  --pantry-toggle-on-icon: #FFFFFF;
}
